<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ account_name }}</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        {% for account in accounts %}
            <a href="{{ url_for('account', account_name=account) }}">{{ account }}</a>
        {% endfor %}
    </nav>

    <main>
        <h1 data-account-name="{{ account_name }}">Investment Categories Distribution for Account: {{ account_name }}</h1>
        <div id="charts"></div>
        <div id="tables"></div>
    </main>
</body>
</html>
