<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="icon" href="{{ url_for('static', filename='images/cute_cat.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='home_scripts.js') }}" defer></script>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        {% for account in accounts %}
            <a href="{{ url_for('account', account_name=account) }}">{{ account }}</a>
        {% endfor %}
        <a href="{{ url_for('budget') }}">Budget</a>
    </nav>

    <main>
        <h1>Home Page</h1>
        <h1>Upload Your File</h1>
        <form id="uploadForm">
            <input type="file" id="fileUpload" name="fileUpload" accept=".csv" required>
            <input type="submit" value="Upload">
            <div id="fileName">No file chosen</div>
        </form>
        <div id="investment-tables"></div>
    </main>
</body>
</html>
